<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Basic styles */
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            line-height: 1.6;
            background-color: #e6ecf0;
            
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }
        .btn {
            padding: 0.5rem 1rem;
            border-radius: 9999px;
        }

        .btn-primary {
            background-color: #e1306c;
            color: #fff;
        }

        .btn-outline-primary {
            border: 1px solid #e1306c;
            color: #e1306c;
        }

        .hero {
            padding: 2rem;
            text-align: center;
            max-width: 600px;
            margin: 0 auto;
        }

        .hero h1 {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .hero p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }

        .btn-lg {
            font-size: 1.2rem;
            padding: 0.75rem 1.5rem;
        }

        
    </style>
</head>

<body>
    <main>
        <div class="hero">
            <h1>Kliklik</h1>
            <p>Join today.</p>
            <a href="/register" class="btn btn-primary btn-lg">Sign up</a>
            <a href="/login" class="btn btn-outline-primary btn-lg">Log in</a>
        </div>
    </main>
</body>

</html>